<a href="https://colab.research.google.com/github/kamathamashok3-ship-it/IIY_IIIS_PYTHON/blob/main/4_2a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
 import pandas as pd
 import numpy as np
 # Sample dictionary data
 exam_data = {
 'name': ['Anastasia', 'Dima', 'Katherine', 'Suresh', 'Emily', 'Michael',
 'Matthew', 'Laura', 'Kevin', 'Jonas'],
 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 3, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
 }
 labels = ['a','b','c','d','e','f','g','h','i','j']
 # Create DataFrame
 df = pd.DataFrame(exam_data, index=labels)
 # i) Insert a new column 'grade'
 df['grade'] = ['A', 'C', 'B', 'B', 'C', 'A', 'B', 'C', 'D', 'A']
 # ii) Get list of column headers
 columns_list = df.columns.tolist()
 # Display updated DataFrame and column headers list
 print("Updated DataFrame with new column:")
 print(df)
 print("\nList of column headers:")
 print(columns_list)

Updated DataFrame with new column:
        name  score  attempts qualify grade
a  Anastasia   12.5         1     yes     A
b       Dima    9.0         3      no     C
c  Katherine   16.5         2     yes     B
d     Suresh    NaN         3      no     B
e      Emily    9.0         2      no     C
f    Michael   20.0         3     yes     A
g    Matthew   14.5         3     yes     B
h      Laura    NaN         1      no     C
i      Kevin    8.0         2      no     D
j      Jonas   19.0         1     yes     A

List of column headers:
['name', 'score', 'attempts', 'qualify', 'grade']